.follow-list {
  position: absolute;
  z-index: 1;
  transition: .2s ease all;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  background: rgba(128,128,128,1);
  color: white;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
}

.follow-list a {
  color: white;
}

.list-container {
  position: relative;
  height: 95%;
  overflow-y: scroll;
}
