.user-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    padding-top: 15%;
    position: relative;
}

.user-profile > a > button {
    position: absolute;
    top: 40px;
    left: 40px;
    
    padding: 9px 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #efefef;
    border-bottom: none;
}