.searchbar-container > input {
  display: inline;
  /* border: none; */
  /* outline: none; */
  width: 60vw;
}

.searchbar-container {
  font-size: 12px;
  margin-bottom: 2%;
}

.search-icon {
  display: inline;
}
