@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');

.profile-header {
  font-family: 'Urbanist', sans-serif;
  margin: 2% 1%;
}

.profile-header button {
  background: none;
  border: 1px solid gray;
  cursor: pointer;
  /* margin-bottom: 4%; */
  padding: 2% 5%;
  transition: .2s all linear;
  border-radius: 4px;
}

.profile-header button:hover {
  background: gray;
  color: white;
}

.user-title h2, .user-title h3 {
  margin: 5% 0;
}

.user-title h3 {
  color: gray;
}
