.top-flux-card {
  background: salmon;
  padding: 2%;
  color: white;
  font-weight: 600;
  border-radius: 4px;
}

.top-flux-card button {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  transition: .2s all linear;
  padding: 10px 6px;
  color: white;
  border-radius: 4px;
}

.top-flux-card button:hover {
  background: white;
  color: salmon;
}


@media screen and (max-width: 700px) {
  .top-flux-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .7em;
    height: 120px;
    width: 120px;
  }
}
