@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,500&display=swap');


.posts-container {
  max-height: 75vh;
  overflow-y: scroll;
  border-bottom: 4px solid gray;
  z-index: 5;
  font-family: 'Poppins', sans-serif;

}
