.results article:nth-of-type(even) {
  background: lightgray;
}

.results {
  position: relative;
  width: 100%;
  height: 170px;
  overflow-y: scroll;
}

.results a {
  color: black;
}

.user-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.user-container a article *{
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .results {
    height: 90px;
  }
}
