.results article:nth-of-type(even) {
  background: lightgray;
}

.results {
  position: relative;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
}

.results a {
  color: black;
}

/*
FIX DEM A TAGS
*/
.user-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.user-container a article *{
  text-decoration: none;
}
