footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul li {
  color: grey;
  list-style: none;
}

footer ul a {
  text-decoration: none;
}

footer ul a:visited {
  color: grey;
}

footer ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
}

.new-post {
  cursor: pointer;
}

.yellow {
  background-color: yellow;
  cursor: pointer;
}
