footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(250, 128, 114, 0.65);
}

footer ul li {
  color: white;
  list-style: none;
}

footer ul li button {
  background: none;
  /* outline:   none; */
  color: white;
  border: none;
}

footer ul li, footer ul li button {
  font-size: 40px;
  transition: .2s all linear;
}

footer ul li:hover, footer ul li button:hover {
  color: black;
}

footer ul a {
  text-decoration: none;
}

footer ul a:visited {
  color: grey;
}

footer ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
}

/* .add {
  cursor: pointer;
} */

.new-post button, .yellow button {
  cursor: pointer;
}

.yellow button {
  color: yellow;
}
