html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #FFF 100%);
  overflow: hidden;
}

.ocean {
  height: 2%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #CAC4CE;
  z-index: 0;
}

.wave {
  background: url('../../assets/svgs/purp-wave.svg') repeat-x;
  background-size: 400px 49.5px;
  position: absolute;
  top: -49.5px;
  width: 6400px;
  height: 49.5px;
  animation: wave 28s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -34.5px;
  animation: wave 28s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 14s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
