@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');


.followers-containers {
  position: relative;
  max-height: 80vh;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
}

.followers-containers h2, .followers-containers h3 {
  margin-left: 1%;
}
