.make-post {
  position: absolute;
  bottom: 0;
  transition: .2s ease all;
  height: 100%;
  background: rgba(128,128,128,1);
  width: 100%;
  color: white;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  max-width: 60vw;
  width: 60vw;
  height: 90px;
}

.hidden {
  height: 0;
}

.make-post button {
  margin-top: 5%;
  background: none;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  cursor: pointer;
  transition: .15s ease all;
}

.make-post button:hover {
  background: white;
  color: black;
  border: 1px solid white;
  /* padding: 10px; */
  cursor: pointer;
}

.submit-btn {
  opacity: 1;
  /* width: 70px;
  height: 30px; */
  place-self: flex-end;
  /* margin: 10px 0px 10px 0px; */
  transition: 1s;
}

.submit-btn:disabled {
  cursor: auto;
  opacity: 0;
  transition: 900ms;
  transform: scale(.5)
}

.make-post .submit-btn:hover {
  background: rgb(188, 245, 188);
}

.char-counter {
  display: flex;
  justify-content: flex-end;
}
