.followers-list {
  position: absolute;
  z-index: 10;
  background: lightgray;
  /* padding: 0 5%; */
  width: 30%;
  top: 0;
}

.inactive {
  display: none;
  top: 0;
}

.followers-info {
  display: flex;
  align-items: center;
}

.followers-info h4 {
  cursor: pointer;
  height: auto;
  width: auto;
  margin: 0;
}

.profile-header {
  display: flex;
  justify-content: space-around;
}
